@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geologica';
  font-size: 23px;
  font-weight: 700;
  line-height: 28.75px;
  text-align: left;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
